body {
    background-color: rgb(230, 230, 230);
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(picture/15.jpg);
}
.m {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    margin-left: 90px;
}
.me img {
    margin-top: 10px;
}
.About {
    color: white;
    font-size: xx-large;
    margin-top: 120px;
    margin-left: 90px;
}
.item {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.na > ul {
    list-style: none; /*移除項目符號*/;
    margin: 0;
    padding: 0;
}
.na a {
    color: #f0f0f0;
    display: block; /*讓<a>填滿<li>*/
    font-size:xx-large;
    padding: 35px;
    text-decoration: none; /*移除超連結底線*/
}
.na a:hover{
    transition: .4s;
    text-shadow: 4px 3px 3px black;
 }
.na {
    position: absolute;
    left: 40%;
    text-align: center;
    display: flex;
 }
