body {
    background-color: rgb(230, 230, 230);
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(picture/15.jpg);
}
.color {
    background-color:rgb(60, 100, 175) ;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 350px;
    border-radius: 8px;
    float: left;
    padding: 60px 10px 10px 50px;
    color: white;
}
.color h2 {
    padding-top: 10px;
}
.m {
    position: absolute;
    top: 500px;
    left: 400px;
    font-size: x-large;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    padding: 1px 10px 4px 10px;
}
.m a {
    color: white;
    text-decoration: none;
}
.m a:hover {
    color: rgb(60, 100, 175);
    transition: .4s;
}
.m:hover {
    background-color: white;
    border-radius: 5px;
    transition: .4s;
}
.me img {
    width: 40%;
    padding: 60px 100px;
    position: absolute;
    top: 80px;
    left: 600px;
}
.na > ul {
    list-style: none; /*移除項目符號*/;
    margin: 0;
    padding: 0;
}
.na a {
    color: #f0f0f0;
    display: block; /*讓<a>填滿<li>*/
    font-size:xx-large;
    padding: 35px;
    text-decoration: none; /*移除超連結底線*/
}
.na a:hover{
    transition: .4s;
    text-shadow: 4px 3px 3px black;
 }
.na {
    position: absolute;
    left: 40%;
    text-align: center;
 }
.interest {
    background-color: #84c1ff;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 180px;
    border-radius: 8px;
    float: left;
    padding: 30px 10px 10px 20px;
    color: white;
}
.photo2 img {
    width: 18%;
    position: absolute;
    top: 80px;
    left: 750px;
}
.photo2 figcaption {
    position: absolute;
    top: 55px;
    left: 750px;
    color: white;
}
.photo3 img {
    width: 25%;
    position: absolute;
    top: 470px;
    left: 750px;
}
.photo3 figcaption {
    position: absolute;
    top: 445px;
    left: 750px;
    color: white;
}
.photo4 img {
    width: 18%;
    position: absolute;
    top: 430px;
    left: 1150px;
}
.photo4 figcaption {
    position: absolute;
    top: 405px;
    left: 1150px;
    color: white;
}
.photo5 img {
    width: 23%;
    position: absolute;
    top: 80px;
    left: 1100px;
}
.photo5 figcaption {
    position: absolute;
    top: 55px;
    left: 1100px;
    color: white;
}
.habit {
    background-color: #84c1ff;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height: 350px;
    position: absolute;
    top: 150px;
    left: 180px;
    border-radius: 8px;
    float: left;
    padding: 30px 10px 10px 20px;
    color: white;
}
.photo6 img {
    width: 20%;
    position: absolute;
    top: 170px;
    left: 750px;
}
.photo6 figcaption {
    position: absolute;
    top: 145px;
    left: 750px;
    color: white;
}
.photo7 img {
    width: 20%;
    position: absolute;
    top: 170px;
    left: 1100px;
}
.photo7 figcaption {
    position: absolute;
    top: 145px;
    left: 1100px;
    color: white;
}
.personality {
    background-color: #84c1ff;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 180px;
    border-radius: 8px;
    float: left;
    padding: 30px 10px 10px 20px;
    color: white;
}
.photo8 img {
    width: 20%;
    position: absolute;
    top: 100px;
    left: 830px;
}
.experience {
    background-color: #84c1ff;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height: 550px;
    position: absolute;
    top: 90px;
    left: 180px;
    border-radius: 8px;
    float: left;
    padding: 30px 10px 10px 20px;
    color: white;
}
.photo9 img{
    width: 30%;
    position: absolute;
    top: 155px;
    left: 800px;
}
.photo9 figcaption {
    position: absolute;
    top: 130px;
    left: 800px;
    color: white;
}
.photo10 img {
    width: 20%;
    position: absolute;
    top: 430px;
    left: 800px;
}
.photo10 figcaption {
    position: absolute;
    top: 405px;
    left: 800px;
    color: white;
}
.photo11 img {
    width: 20%;
    position: absolute;
    top: 430px;
    left: 1150px;
}
.photo11 figcaption {
    position: absolute;
    top: 405px;
    left: 1150px;
    color: white;
}
.goal {
    background-color: #84c1ff;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height: 310px;
    position: absolute;
    top: 170px;
    left: 180px;
    border-radius: 8px;
    float: left;
    padding: 30px 10px 10px 20px;
    color: white;
}
.photo12 img {
    width: 20%;
    position: absolute;
    top: 395px;
    left: 1100px;
}
.photo12 figcaption {
    position: absolute;
    top: 370px;
    left: 1100px;
    color: white;
}
.photo13 img {
    width: 20%;
    position: absolute;
    top: 135px;
    left: 1100px;
}
.photo13 figcaption {
    position: absolute;
    top: 110px;
    left: 1100px;
    color: white;
}
.photo14 img {
    width: 20%;
    position: absolute;
    top: 195px;
    left: 750px;
}
.photo14 figcaption {
    position: absolute;
    top: 170px;
    left: 750px;
    color: white;
}