body {
    background-color: rgb(230, 230, 230);
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(picture/15.jpg);
}
.color {
    background-color:rgb(60, 100, 175) ;
    width: 500px;
    height: 550px;
    margin-top: 80px;
    margin-left: 250px;
    border-radius: 8px;
    padding: 60px 10px 10px 50px;
    color: white;
}
.color h2 {
    padding-top: 10px;
}
.color img {
    margin-top: -250px;
    margin-left: 250px;
}
.m {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -120px;
    margin-left: 300px;
}
.item > p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.na > ul {
    list-style: none; /*移除項目符號*/;
    margin: 0;
    padding: 0;
}
.na a {
    color: #f0f0f0;
    display: block; /*讓<a>填滿<li>*/
    font-size:xx-large;
    padding: 35px;
    text-decoration: none; /*移除超連結底線*/
}
.na a:hover{
    transition: .4s;
    text-shadow: 4px 3px 3px black;
 }
.na {
    position: absolute;
    left: 40%;
    text-align: center;
    display: flex;
 }
